
.head-navigation{
	background:#17A2B8 !important;	
	color:white !important;
}
.logo-crick{
	background:#6C757D !important;
}
.addbanner{
	margin-left:140px;
	width: 116%;
	position:relative;
}
.addbanner-image{
	margin-top: 40px;
}
.banner-size{
	    height: 220px !important;
}
.imageprofile{
	height:20px;
	width:20px;
	position:absolute;
	margin-bottom:30px;
}
.logo-text{
	font-size: 22px;
    color: currentColor;
    font-style: inherit;
    font-weight: 500;
	margin-right:6px;
}
.divspace-banner{
	padding-left:0px;
}
.input-file{
	width: 220px;
}

.styl{
	width:1000px;
	margin-left:40px;
	border:none;
	border-bottom:1px solid #17A2B8;	
	background:transparent;
}
.labelname{
	font-size:20px;
	color:#17A2B8;
}
.mainform{
	background:white;
	margin:100px;
}
.inputtour{
	margin-top:60px;
}
.radiotour{
	margin-left:40px;
}
.categorytour{
	color:#17A2B8
}
.radiotours{
	margin-right:40px;
}

.categorytours{
	font-size:18px;
	margin-left:20px;
	margin-right:7px;
}
.tourdetails{
	height: 162px;
    width: 990px;
    margin-left: 40px;
    margin-top: 45px;
}
 .tourdetails::placeholder{
	font-size:23px;
}
.sendtour{
	margin-left:140px;
	height:45px;
	width:800px;
	background:#17A2B8;
	border:1px solid #17A2B8;
	color:white;
	font-size:28px;
}

.topbartour{
	width:550px;
}
.footer-tour{
	float:left;
}
.footer-tours{
	float:right;
}
.tour-follow{
	height:33px;
	width:100px;
	background:#17A2B8;
	border:1px solid #17A2B8;
	color:white;
	font-size:18px;
}
.banner-tour{
	width: 1040px;
    height: 280px;
}
.headerbanner{
	background:#17A2B8 !important;
	color:white;
}
.cardhead-button{
	color:white;
}
.header-name{
    font-size: 25px !important;
    font-style: inherit;
}
.footer-text{
	font-size:18px;
}
.foot-banner{
	background:whitesmoke;
}

.crick-image{
	height:18px;
	width:29px;
	
}
.my-tourtext{
	margin-left:7px !important;
}
.my-tourimage{
	height:18px;
	width:21px;
}

.top-nav-items{
	color:white !important;
}
.search-topnav{
	background:#45B5C6 !important;
}
.search-topnav::placeholder{
	color:white !important;
}
.search-topicon{
	color:white !important;
}

.search-topicon2{
	color:#D6D8D9 !important;
}

.search-topicon2:hover{
	color:white !important;
}
.side-active{
	background: #17A2B8 !important;
}

.username{
	padding-left:16px;
	color:#D6D8D9;
}
.username:hover{
	color:white;
}
